@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
    /* Colors */

    --primary-very-dark-blue: hsl(243, 87%, 12%);
    --primary-desaturated-blue: hsl(238, 22%, 44%);

    --accent-bright-blue: hsl(224, 93%, 58%);
    --accent-moderate-cyan: hsl(170, 45%, 43%);

    --neutral-light-grayish-blue: hsl(240, 75%, 98%);
    --neutral-light-gray: hsl(0, 0%, 75%);

    /* Fonts */

    --ff-heading: "Raleway", sans-serif;
    --ff-body: "Open Sans", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
}

/* General styles */

section {
    padding-block: 4rem 3rem;
}

/* Utility Classes */

.container {
    max-width: 480px;

    margin-inline: auto;
    padding-inline: 1.5rem;
}

/* Header */

header {
    padding-block: 1rem;

    display: flex;
    justify-content: space-between;
}

.logo {
    height: 1.65rem;
}

header nav a {
    margin-left: 0.5rem;
}
